﻿a {
	cursor: pointer;
}

.nav-grid {
	display: grid;
	grid-template-columns: 15% 85% ;
	grid-template-rows: 1fr;
	grid-template-areas: 'col';
}
label{
	display: block;
    text-align: center;
	font-weight: bold;
	padding-top: 10px;
	font-size: larger;
}

.spacer {
	margin-top: 20px;
}
.menu {
	height: 100vh;
	background-color: rgba(135, 175,182);
}
a{
	color:black
}
.btn-light{
  display: block;
  width: 100%;
}
.btn-container{
	display: block;
  width: 100%;
}

.menu-opt {	
	font-weight: bold;
	text-rendering: optimizeLegibility;
	padding:7px;
	color: black;
	/*text-shadow: 4px 4px 6px #000000;*/
}

.btn-warning {
	margin-bottom: 3rem;
}
.hSpacer {
	margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #062381;
  color: #ffffff;
}

.btn:hover{
	background-color: #062381;
	color: #ffffff;

}

.clickable {
	cursor: pointer;
}

.colDe {
	width: 20%;
}

.colA {
	width: 15%;
}

.colObjet {
	width: 45%;
}

.colDate {
	width: 15%;
}

.surbrillanceRecherche {
	background-color: #FFD42A;
}

.labelChampNouveauMail {
	width: 70px;
}

.input-group {
	width: 100%;
}

.contenuNouveauMail {
	width: 100%;
}

input.ng-invalid {
	background-color: rgba(255, 0, 0, 0.5);
}

iframe {
	border: 0px;
	width: 100%;
}
