<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Webmail</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-theme.min.css" crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![endif]-->

    </head>
    <body ng-app="Webmail" ng-controller="WebmailCtrl">
                <nav class="nav-grid">
                    <div class="col menu">
                    <div class="spacer navbar">
                        <ul class="nav flex-column">
                            <li ng-class="{ active: vueCourante == 'vueNouveauMail' }"><a href="#/nouveauMail"><span class="btn btn-warning btn-block">Nouveau mail</span></a></li>
                            <li class="menu-opt" ng-repeat="dossier in folders"
                                ng-class="{ active: vueCourante == 'vueDossier' && dossier.value == dossierCourant.value }"><div class='btn-container'><a class="btn btn-light btn-block" href="#/{{dossier.value}}">{{dossier.label}}<span class="badge" ng-show="dossier.needsUpdate">NEW</span></a></div></li>
                            </ul>

                        <ul class="nav nav-pills navbar-right">
                        </ul>
                    </div>
                 </div>
                    
                  <div class="col listing">
                    <div ng-show="vueCourante == 'vueDossier'">

                        <div class="spacer input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            <input type="text" ng-model="recherche" class="form-control" placeholder="Rechercher un e-mail..." />
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="razRecherche()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                        {{dossier.value}}
                        <table class="table table-striped table-hover spacer">
                        <thead>
                            <tr>
                                <th class="colDe">
                                    <a ng-click="triEmails('from')">De</a>
                                    <span class="hSpacer" ng-class="cssChevronsTri('from')"></span>
                                </th>
                                <th class="colA">
                                    <a ng-click="triEmails('to')">&Agrave;</a>
                                    <span class="hSpacer" ng-class="cssChevronsTri('to')"></span>
                                </th>
                                <th class="colObjet">
                                    <a ng-click="triEmails('subject')">Objet</a>
                                    <span class="hSpacer" ng-class="cssChevronsTri('subject')"></span>
                                </th>
                                <th class="colDate">
                                    <a ng-click="triEmails('date')">Date</a>
                                    <span class="hSpacer" ng-class="cssChevronsTri('date')"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="email in emailsFiltres = (dossierCourant.emails | filter:recherche) | orderBy:champTri:triDescendant" class="clickable" ng-click="versEmail(dossierCourant, email)">
                                <td ng-bind-html="email.from | surbrillanceRecherche:recherche"></td>
                                <td ng-bind-html="email.to | surbrillanceRecherche:recherche"></td>
                                <td ng-bind-html="email.subject | surbrillanceRecherche:recherche"></td>
                                <td>{{email.date | date:'dd/MM/yyyy HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-info">Le dossier contient {{emailsFiltres.length}} mail(s).</div>

                    </div>
                    
                    <contenu-mail ng-show="vueCourante == 'vueContenuMail'" email="emailSelectionne"></contenu-mail>

                    <nouveau-mail ng-show="vueCourante == 'vueNouveauMail'" send-mail="sendMail(nouveauMail)"></nouveau-mail>

                </nav>


        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="lib/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.29/angular.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.29/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.29/angular-resource.min.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.29/i18n/angular-locale_fr-fr.js"></script>
        <script type="text/javascript" src="lib/ui-tinymce.js"></script>
        <script type="text/javascript" src="js/app.js"></script>    
        <script type="text/javascript" src="js/MesFiltres.js"></script>  
        <script type="text/javascript" src="js/MesDirectives.js"></script>    
        <script type="text/javascript" src="js/MailServiceMock.js"></script>
        <script type="text/javascript" src="js/MailServiceHttp.js"></script>
        <script type="text/javascript" src="js/MailServiceRest.js"></script>
    
    </body>
</html>